@font-face {
  font-family: Raleway;
  src: url("fonts/Raleway/Raleway-VariableFont_wght.ttf");
}

@font-face {
  font-family: Ubuntu;
  src: url("fonts/Ubuntu/Ubuntu-Regular.ttf");
}

body {
  margin: 0;
  font-family: Ubuntu;
}

h1,
p {
  font-family: Raleway;
}

:root {
  --color: linear-gradient(rgb(186, 98, 15), rgba(27, 20, 2, 0.8));
}

.navbar {
  background: var(--color);
  color: rgb(212, 222, 209) !important;
}

.navbar img {
  max-height: 50px;
}

.navbar-collapse {
  flex-grow: unset;
}

a {
  color: rgb(212, 222, 209) !important;
}

header {
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background: var(--color);
}

header div {
  color: rgb(212, 222, 209);
}

header img {
  max-height: 40px;
}

.logo {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo p {
  padding-left: 5px;
}

.pic {
  height: 250px;
  object-fit: cover;
  border: 10px solid rgba(195, 213, 213, 0.4);
}

.pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.restaurant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  color: orange;
}

.restaurant img {
  height: 30px;
}

.restaurant h1 {
  color: black;
  font-size: 48px;
  margin-bottom: 5px;
}

.stars {
  height: 20px;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.rest-right {
  margin: 20px;
}

.rest-right img:hover {
  cursor: pointer;
}

.leiste {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--color);
  height: 50px;
  color: black;
}

.leiste div:hover {
  cursor: pointer;
  color: rgb(224, 236, 237);
}

.d-none {
  display: none;
}

.leiste div {
  font-size: 1.2rem;
}

.white {
  color: rgb(224, 236, 237);
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.plus {
  font-size: 20px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: black;
  color: black;
  height: 30px;
  width: 30px;
  text-align: center;
}

.plus:hover {
  cursor: pointer;
  color: blue;
  border-color: blue;
}

.choice {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid;
  box-shadow: 5px 5px 8px rgb(0 0 0 / 10%);
  width: 90%;
  font-size: 20px;
}

.choiceImg {
  margin: 10px;
  border: 1px solid;
  width: 90%;
  height: 150px;
}

.choiceImg img{
    height: 148px;
    width: 100%;
    object-fit: cover;
  }


.choice:hover {
  border-color: blue;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.choice span {
  font-size: 15px;
}

.desc {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.korb div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7px;
  margin-left: 2px;
}

.fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.korb img:hover {
  cursor: pointer;
}

.korb img {
  height: 25px;
  width: 25px;
}

.left {
  width: 75%;
}

.sticky {
  position: sticky;
  top: 20px;
}

.bottom{
    position: relative;
    bottom: 5px;
}
input[type="checkbox"]:hover{
    cursor: pointer;
}

.right {
  width: 30%;
  text-align: center;
  box-shadow: 0px 2px 2px 0px;
}

.infoDialog {
  background-color: white;
  width: 300px;
  height: 70vh;
  overflow: auto;
  padding: 20px;
  border-radius: 5px;
}

.choiceDialog {
    background-color: white;
    width: 200px;
    height: 270px;
    overflow: auto;
    padding: 20px;
    border-radius: 5px;
  }

.zeiten {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.zeiten div {
  display: flex;
  justify-content: space-between;
}

.animate {
  animation: animatezoom 0.4s;
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

footer {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.right p {
  font-size: 24px;
}

.flex {
  display: flex;
}

.summe {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  text-align: left;
  margin-left: 5px;
  margin-right: 5px;
}

.sumelement {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

@media screen and (min-width: 850px) {
  nav {
    display: none !important;
  }
}

@media screen and (max-width: 850px) {
  .right,
  header {
    display: none;
  }

  .left {
    width: 100%;
  }

  .leiste div {
    font-size: 1rem;
  }

  .restaurant h1 {
    font-size: 24px;
  }

  .rest-right img {
    height: 15px;
  }

  .restaurant img {
    height: 20px;
  }

  .logo {
    font-size: unset;
  }

  header {
    padding-left: 5px;
    padding-right: 5px;
  }
}
