@font-face {
    font-family: Raleway;
    src: url('fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

@font-face {
    font-family: Ubuntu;
    src: url('fonts/Ubuntu/Ubuntu-Regular.ttf');
}

body {
    margin: 0;
    font-family: Ubuntu;
}

h1, p{
    font-family: Raleway;
}

header {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: linear-gradient(rgb(103, 176, 103),rgb(72, 141, 72),rgb(133, 209, 133));
}

header h2 {
    border-bottom: 2px solid;
    color: rgb(212, 222, 209);
}

header img {
    max-height: 50px;
}

.logo {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.logo p {
    padding-left: 5px;
}

.pic {
    height: 250px;
    object-fit: cover;
    border: 10px solid rgba(195, 213, 213, 0.4);
}

.pic img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.restaurant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    color: orange;
}

.restaurant img {
    height: 35px;
}

.restaurant h1 {
    color: black;
    font-size: 48px;
    margin-bottom: 5px;
}

.stars {
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.rest-right {
    margin: 20px;
}

.rest-right img:hover {
    cursor: pointer;
}

.leiste {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(180deg, rgba(103, 176, 103, 1), rgba(103, 176, 103, 0.6)) ;
    height: 50px;
    color: black;
}

.leiste div:hover {
    cursor: pointer;
    color: rgb(224, 236, 237);
}

.d-none{
    display: none;
}

.leiste div {
    font-size: 1.2rem;
}

.white {
    color: rgb(224, 236, 237);
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.plus{
    font-size: 20px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-color: black;
    color: blue;
    height: 30px;
    width: 30px;
    text-align: center;
}

.plus:hover {
    cursor: pointer;
    color: rgba(103, 176, 103, 0.8);
}

.choice {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid;
    box-shadow: 5px 5px 8px rgb(0 0 0 / 10%);
    height: 85px;
    width: 90%;
    font-size: 20px;
}

.choice p{
    margin-top: 15px;
}

.desc{
    padding: 10px;
}

.korb div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.korb img:hover {
    cursor: pointer;
}

.korb img{
    height: 25px;
    width: 25px;
}

.left {
    width: 75%;
}

.right {
    position: sticky;
    width: 30%;
    text-align: center;
    box-shadow: 0px 2px 2px 0px;
}

footer{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.right p {
    font-size: 32px;
}

.flex{
    display: flex;
}

.summe{
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
}

.sumelement {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

@media screen and (max-width: 800px) {
    .right, h2{
        display: none;
    } 

    .left{
        width: 100%;
    }

    .leiste div {
        font-size: 1rem;
    }

    .restaurant h1 {
        font-size: 30px;
    }

    .logo{
        font-size: unset;
    }
}